@import "../../layout/theme.scss";

.comments {
    padding: 0 0 8px;
    
    p {
        color:  $md-black-color;        
    }

    h2 {
        color: $md-primary-color;
		font-size: 17px;
		font-weight: 800;
		letter-spacing: 1px;
		text-transform: uppercase;
    }

    .comments-icon {        
        color: $md-primary-color;
        font-size: 1.5em;
    }
}