@import "../../layout/theme.scss";

.languages-container { 
    background-color: $md-secondary-color;

    .languages-wrapper {
        display: flex;
        flex-direction: column;
        padding: 25px 15px;
        @media (min-width: 991px) {
            max-width: 66%;
        }

        #languages {
            padding: 0;
            margin-bottom: 30px;
            width: 100%;
            .language {
                display: inline-block;
                margin: 20px 25px 0 0;
                padding-left: 15px;
                .language-title {
                    font-size: 22px;
                    font-weight: 500;
                    margin: 0;
                }
                .language-level {
                    color: $md-tertiary-color;
                    font-size: 18px;
                    font-weight: 500;
                }
            }
        }
    }
}