@import "../../layout/theme.scss";

.user-info {    
    margin-bottom: 10px !important;
    margin-top: 10px !important;

    p {
        color: $md-tertiary-color;
        font-size: 17px;
        font-weight: 500;
        line-height: 22px;
        margin: 15px 0;
    }

    h2 {
        color: $md-primary-color;
		font-size: 17px;
		font-weight: 800;
		letter-spacing: 1px;
		text-transform: uppercase;
    }

    h3 {
        color: $md-primary-color;
    }

    .md-avatar {
        border-width: 2px;
    }
    
    .location-icon {        
        color: $md-primary-color;
        font-size: 1.75em;
    }
    
    .md-icon-separator .md-icon-text {
        color: $md-tertiary-color;
        font-size: 18px;
        font-weight: 600;
    }
}