@import "../../layout/theme.scss";

.user-info {    
    margin-bottom: 10px !important;
    margin-top: 10px !important;

    p {
        color:  $md-black-color;
        font-size: 16px;
        margin: 15px 0;
    }

    h2 {
        color: $md-primary-color;
		font-size: 14px;
		font-weight: 800;
		letter-spacing: 1px;
		text-transform: uppercase;
    }

    h3 {
        color: $md-primary-color;
    }

    .md-avatar {
        border-width: 2px;
    }
    
    .location-icon {        
        color: $md-primary-color;
        font-size: 1.75em;
    }       
}