.social-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 15px 0;

    > div {
        margin: 5px 10px;
    }

    .share-count {
        text-align: center;
    }
}
