@import "../../layout/theme.scss";

.skills-container { 

    .skills-wrapper {
        display: flex;
        flex-direction: column;
        padding: 25px 15px;

        #skills {
            .skill {
                display: inline-block;
                margin: 20px 0 0;
                padding-left: 15px;
                padding-right: 15px;
                .skill-title {
                    font-weight: 500;
                    margin: 0;
                }
            }
        }
    }
}