@import "../../layout/theme.scss";

.category-list {
    .left-border-area {
        padding-left: 5px;

        .category-chip {
            &.md-chip {
                background-color: $md-primary-color;
                margin: 2px;
            
                .md-chip-text{
                    color: $md-white-color;
                    font-size: 14px;
                    font-weight: 700;
                }
                &.active {
                    background-color: $md-tertiary-color;
                }
                &:hover {
                    background-color: $md-tertiary-color;
                }    
            }    
        }
    }    
}