@import "../../layout/theme.scss";

.level-counter {      
    display: flex;
    justify-content: flex-start;
    margin-top: 5px;
    
    .level-counter-item {
        background-color: $md-tertiary-color;        
        flex: 1;                
        height: 4px;
        margin-right: 5px;
        
        &.active {
            background-color: $md-secondary-color;
        }
    }
}