@import "../../layout/theme.scss";

.level-counter {      
    background-color: $md-tertiary-color;
    display: block;
    height: 3px;
    margin-top: 5px;
    overflow: hidden;
    
    .level-counter-item {
        background-color: $md-secondary-color;
        height: inherit;
        transition-duration: 2s;
    }
}