@import "../../layout/theme.scss";

.post-preview-cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    padding: 0 !important;
}
.post {
    padding: 0 0 8px;

    .post-title {
        h1, h2 {
            font-size: 24px;
            font-weight: 700;
            line-height: 1.2;

            @media (min-width: 991px) {
                font-size: 30px;
            }
        }    
    }    

    .post-excerpt {
        font-size: 16px;

        &.left-border-area {
            margin-left: 16px;
            padding: 5px 16px;
        }
    }
}