@import "../../layout/theme.scss";

header {
    &.md-toolbar--fixed {
        background-color: transparent;
        box-shadow: none;
    }
}

nav {
    header,
    .md-list {
        background-color: $md-primary-color;
    }

    .md-title--toolbar,
    .md-icon {
        color: white;
    }
    
    .md-text {
        color: white;
        font-size: 16px;
    }

    .md-divider {
        background: rgba(255, 255, 255, 0.1);
    }
}

.main-content {
    display: flex;
    flex-direction: column;
    
    &.md-toolbar-relative {
        margin-top: 0;
    }

    .main-container {
        display: flex;
        min-height: 100%;
        flex-direction: column;
        flex: 1;

        .main-content {
            flex: 1;
        }
    }
}
