@import "../layout/theme.scss";

#main_area {
    display: table-cell;
    height: 100vh;
    text-align: center;
    vertical-align: middle;
    width: 100vw;

    #main_area_content {
      
      #page_title {
        display: inline-block;
        padding-top: 45px;
        text-align: center;
    
        h1 {
          color: $md-white-color;
          font-size: 55px;
          font-weight: 800;
          letter-spacing: 1px;
          line-height: 60px;
          margin: 0 0 15px;
  
          @media (min-width: 768px) {
            margin: 0;
          }
        }
    
        h2 {
          color: $md-secondary-color;
          font-size: 25px;
          font-weight: 700;
          text-transform: uppercase;          
        }
      }
  
      #icons_area {
        @media (min-width: 991px) {
          //max-width: 66%;
        }
      }
    }    
}