@import "../layout/theme.scss";

#main_banner {
    display: table-cell;
    height: 100vh;
    text-align: center;
    vertical-align: middle;
    width: 100vw;

    #page_title {
        display: inline-block;
        text-align: center;

        @media (min-width: 768px) {
            text-align: right;
        }
    
        h1 {
          color: $md-white-color;
          font-size: 55px;
          font-weight: 800;
          letter-spacing: 1px;
          line-height: 60px;
          margin: 0 0 15px;

          @media (min-width: 768px) {
            margin: 0;
          }
        }
    
        h2 {
          color: $md-primary-color;
          font-size: 25px;
          font-weight: 700;
          text-transform: uppercase;          
        }
      }
}

#main_area {
    min-height: 50vh;
}

/* Create a bouncing scroll-down arrow on homepage with cover image */
.scroll-down {    
    .material-icons {
        animation: bounce 4s 2s infinite;
        bottom: 45px;
        color: rgba(255, 255, 255, 0.7);
        cursor: pointer;
        display: block;
        font-size: 60px;
        left: 50%;
        margin-left: -25px;
        position: absolute;
        text-align: center;
        text-decoration: none;
        z-index: 10;   
        -webkit-animation: bounce 2s 1s infinite;

        /* Stop it bouncing and increase contrast when hovered */
        &:hover{
            animation: none;
            color: $md-white-color;
            -webkit-animation: none;            
        }
    }  
}