@import "../layout/theme.scss";

#success-message-container {
    background-color: $md-primary-color;
    border-bottom: 2px solid $md-secondary-color;
    display: table-cell;
    height: 100vh;
    text-align: center;
    vertical-align: middle;
    width: 100vw;

    h1 {
        color: $md-secondary-color;
        font-size: 60px;
        font-weight: 600;
        line-height: 55px;
    }

    h2 {
        color: $md-white-color;
    }

	.primary-button {
        background-color: $md-secondary-color;
		color: $md-white-color;
        &:hover {
            background-color: $md-tertiary-color;
        }
    }
}