.contact-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 25px 15px;
    @media (min-width: 991px) {
        max-width: 66%;
    }

    #form {
        width: 100%;

        input {
            width: 100%;
        }
    }
}