@import "../../layout/theme.scss";

.contact-container { 

    .contact-wrapper {
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: 25px 15px;

        p {
            font-size: 16px;
        }

        #form {
            width: 100%;

            label {
                color: $md-white-color;
                font-size: 14px;

                &.md-floating-label--inactive {
                    font-size: 16px;
                }
            }

            input,
            textarea {
                color: $md-white-color;
                font-size: 14px;
                width: 100%;
            }

            input:-internal-autofill-previewed,
            input:-internal-autofill-selected,
            textarea:-internal-autofill-previewed,
            textarea:-internal-autofill-selected,
            select:-internal-autofill-previewed,
            select:-internal-autofill-selected {
                -webkit-box-shadow: 0 0 0px 1000px $md-primary-color inset !important;
                -webkit-text-fill-color: $md-white-color !important;
            }

            hr {
                background-color: $md-secondary-color;
                &::after {
                    background-color: $md-secondary-color;
                }
            }

            .submit-button {
                float: right;
            }
        }
    }
}