@import "../../layout/theme.scss";

.footer {
  color: $md-white-color;
  justify-content: center;
  align-content: center;
  padding: 10px 5px 5px;

  .notice-container {
    display: flex;
    align-content: center;
    align-items: center;
    margin-top: 25px;

    .copyright {
      display: flex;
      flex: 1;
      justify-content: center;
    }

    h4 {
      color: $md-white-color;
      text-align: center;
      margin: 0;
    }
  }
}

.footer-fixed {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 15;
}
