@import "../../layout/theme.scss";

.post-preview-tags {
    margin: 5px 2px;
    
    &:hover {
        background-color: $md-primary-color;
    }

    .md-chip-text{
        font-size: 15px;
    }
}

.post-tag-container {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
