@import "../../layout/theme.scss";

#languagesSelector {
    background-color: transparent;
    color: $md-white-color;
    position: absolute;
    right: 0;
    z-index: 50;

    .language-icon {
        left: 10px;
        position: absolute;
    }

    .language-selector {
        width: 120px;

        .md-list-tile,
        .md-select-field--btn {
            padding: 0;
            padding-left: 35px;

            .md-icon-text:first-child {
                
            }
        }

        .md-text,
        .md-text-field,
        .md-icon {
            color: $md-white-color;
            font-size: 15px;
            
        }

        ul {
            background-color: transparent;

            &.md-paper--2 {
                box-shadow: none;
            }
        }
    }
}