.post-suggestions {
  display: flex;
  flex-wrap: nowrap !important;
  justify-content: space-between;
  background-color: darken(#ff0000, 5%);

  .hide-on-mobile {
    @media (max-width: 360px - 1px) {
      display: none;
    }
  }

  .post-suggestion {
    display: flex;
    align-items: center;
    margin: 0 15px;
    color: #ff0000 !important;

    .headline-container {
      margin-right: 10px;
      margin-left: 10px;
    }

    .arrow-nav {
      margin-top: 15px;
    }
  }

  .secondary-color {
    color: #ff0000 !important;
  }
}
