@import "../layout/theme.scss";

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-color: $md-tertiary-color;
    margin: 0;

    header {
        button {
            .md-text--inherit.md-text--inherit {
                color: $md-white-color;
            }
        }
    }
}

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700|Material+Icons');
@import '~react-md/src/scss/react-md';
@import 'theme.scss';

@include react-md-everything;
