$md-colors-warn-md: false;
$md-primary-color: rgb(0, 25, 80);
$md-secondary-color: rgb(112, 161, 255);
$md-tertiary-color: rgb(0, 20, 60);
$md-white-color: rgb(255, 255, 255);
$md-black-color: rgb(0, 0, 0);
