@import 'fonts.scss';

$md-colors-warn-md: false;
$md-primary-color: rgb(0, 25, 80);
$md-secondary-color: rgb(112, 161, 255);
$md-tertiary-color: rgb(0, 20, 60);
$md-white-color: rgb(255, 255, 255);
$md-black-color: rgb(0, 0, 0);

body {
	font-family: "Raleway", "Roboto", sans-serif;
	font-size: 18px;
	min-height: 100vH;

	h1, h2, h3, h4, h5, h6, p, button, input, textarea, html {
		color: $md-white-color;
		font-family: "Raleway", "Roboto", sans-serif;
	}

	h3 {
		color: $md-white-color;
		font-size: 24px;
		font-weight: 800;
		letter-spacing: 1px;
		margin-bottom: 15px;
		text-transform: uppercase;
	}

	h4 {
		color: $md-white-color;
		font-size: 22px;
		font-weight: 600;
	}

	h5 {
		color: $md-white-color;
		font-size: 20px;
		font-weight: 400;
	}

	p {
		font-size: 16px;
	}

	a:link,
	a:hover,
	a:visited {
		color: $md-white-color;
		text-decoration: none;
	}

	.primary_bg {
		background-color: $md-primary-color;		
	}
	.primary_bt {
		border-top: 3px solid $md-primary-color;
	}
	.primary_bb {
		border-bottom: 3px solid $md-primary-color;
	}

	.secondary_bg {
		background-color: $md-secondary-color;
	}
	.secondary_bt {
		border-top: 3px solid $md-secondary-color;
	}
	.secondary_bb {
		border-bottom: 3px solid $md-secondary-color;
	}

	.tertiary_bg {
		background-color: $md-tertiary-color;		
	}
	.tertiary_bt {
		border-top: 3px solid $md-tertiary-color;
	}
	.tertiary_bb {
		border-bottom: 3px solid $md-tertiary-color;
	}

	.left-border-area {
		border-left: 3px solid $md-primary-color;
		padding-left: 20px;
		&.light-border {
			border-left-color: $md-secondary-color;
		}
	}

	.primary-button {
        background-color: $md-primary-color;
		border-radius: 5px;
		color: $md-white-color;
        padding: 8px;
        &:hover {
            background-color: $md-secondary-color;
        }
	}

	.secondary-button {
        background-color: $md-white-color;
		border-radius: 5px;
		color: $md-primary-color;
		font-weight: 600;
        padding: 8px;
        &:hover {
			background-color: $md-tertiary-color;
			color: $md-white-color;
        }
	}

	#page_title {
		padding-bottom: 50px;
		text-align: left;
	
		h1 {
			color: $md-white-color;
			font-size: 45px;
			font-weight: 700;
			letter-spacing: 1px;
			width: 100%;
		}

		h2 {
			width: 100%;
			@media (min-width: 768px) {
				margin: 0;
			}

			&.title {
				color: $md-white-color;
				font-size: 45px;
				font-weight: 700;
				letter-spacing: 1px;
				width: 100%;
			}
		}
	}

	#page_content {
		background-color: $md-primary-color;
		border-bottom: 2px solid $md-secondary-color;
		border-top: 2px solid $md-secondary-color;
	}

	.external-link-icon {
		font-size: 14px;
		margin-left: 5px;
		margin-right: 5px;
	}
}



@-webkit-keyframes bounce {
	0% { transform: translateY(-5px)  }
	50% { transform: translateY(10px) }
	100% { transform: translateY(-5px) }
}

@keyframes bounce {
	0% { transform: translateY(-5px)  }
	50% { transform: translateY(10px) }
	100% { transform: translateY(-5px) }
}